@import '../../style/variables';

.error-wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8%;
}
.error-image {
	display: block;
	object-fit: contain;
	margin: 0 auto;
    background-color: transparent;
}
.error-title {
	color: $sm-blue;
}
